/*About_me.html*/
.about_me
{
    @include flex(column,center,center);
    text-align: center;
    padding: $px-size-2;
}

.about_me_content
{
    text-align: center;
    color: $text-color;
    padding: $px-size-2;

    h2
    {
        color: $secondary-color;
        font-size: 2rem;
        margin-bottom: $px-size-1;
    }
}

.grid_container_abt_me
{
    @include grid(repeat(3, minmax(300px, 1fr)));
}

.card 
{
    @include card;

    h3 
    {
        font-size: 1.5rem;
        color: $secondary-color;
        margin-bottom: $px-size-1;
    }

    p 
    {
        font-size: 1.5rem;
        line-height: 1.5;
        margin: 0;
        overflow: hidden;
    }
}

