/*Contact.html*/
.contact
{
    display: flex;
    padding: $px-size-2;
    background-color: $background-color;
    color: $text-color;
    min-height: 100vh;
}

.contact_container
{
    display: flex;
    gap: $px-size-2;
    padding: $px-size-2;
    box-sizing: border-box;
}

.connect_with_me
{
    text-align: left;
    padding: $px-size-1;

    h2 
    {
        color: $secondary-color;
        margin-bottom: $px-size-1;
    }

    p
    {
        width: 50%;
        font-size: 1rem;
        line-height: 1.6;
    }

    div
    {
        i:hover
        {
            color: $secondary-color;
        }
    }
}

.form_container 
{
    @include flex(column, flex-start,center);
    width: 50%;
    padding: $px-size-2;
    text-align: center;
}

.contact_form
{
    display: flex;
    width: 100%;

    h2 
    {
        color: $secondary-color;
        margin-bottom: $px-size-1;
    }

    input, textarea
    {
        @include form-input;
    } 

    textarea 
    {
        resize: none;
        height: 100px;
    }

    &input[type="submit"]:hover, &input[type="reset"]:hover
    {
        background-color: #5a48c2;
        box-shadow: $box-shadow;
        transform: translateY(1px);
    }
}

form input[type="submit"], form input[type="reset"]
{
    background-color: $secondary-color;
    color: $text-color;
    border: none;
    padding: $px-size-1 $px-size-2;
    margin: $px-size-1;
    cursor: pointer;
}
