/*index.html*/
main 
{
    grid-area: main;
    @include grid(1fr 1fr);
    align-items: center;
    padding: $px-size-2;
}

.home_content
{
    text-align: center;
    line-height: 1.8;

    h3,h1,p
    {
        height: auto;
        margin-bottom: 15px;
    }
}

body
{
    background-color: $background-color;
    color: $text-color;
}

h1,h2,h3,p
{
    margin-bottom: $px-size-1;
}

.foto
{
    text-align: center;

    img
    {
        max-width: 90%;
        height: auto;
        max-height: 350px;
        margin: 0 auto;
    }
}

@include button;

