/*Media Queries for esponsives*/
@media(max-width: 768px)
{
    .grid_container
    {
        @include grid-layout;
    }

    /*index.html*/
    .main 
    {
        @include flex(column, none,center);
        gap: $px-size-2;
    }

    .home_content 
    {
        order: 1;
        text-align: center;
        padding: $px-size-1;
    }

    .foto 
    {
        order: 2;
        margin-top: $px-size-2;
        text-align: center;

        img 
        {
            max-width: 90%;
            height: auto;
        }
    }

    /*about_me.html*/
    .grid_container_abt_me
    {
        @include grid(repeat(auto-fit,minmax(300px,1fr)));
    }

    /*gallery.html*/
    .gallery_content
    {
        padding: $px-size-1;
    }

    .gallery_grid
    {
        @include grid(1fr);
    }

    .gallery_card
    {
        padding: 15px;

        h3 
        {
            font-size: 1.2rem;
        }

        p 
        {
            font-size: 0.9rem;
        }
    }

    /*Experience.html*/
    .experience_content
    {
        @include flex(column,none,center);
        width: 20rem;
    }

    .experience_text 
    {
        font-size: 0.9rem;
        text-align: justify;
    }

    .carousel 
    {
        flex: 1 1 auto;
    }

    /*Contact.html*/
    .contact_container
    {
        @include flex(column, none, center);
        gap: $px-size-2;
    }

    .connect_with_me 
    {
        order: inherit;
        width: 100%;
        text-align: center;

        p 
        {
            width: 100%;
            text-align: center;
        }
    }

    .contact_form 
    {
        display: flex;
        justify-content: center;
        margin-top: $px-size-2;
        order: 1;
    }

    .form_container
    {
        width: 100%;
        text-align: center;

        form 
        {
            display: flex;
            flex-direction: column;
            gap: $px-size-1;
        }

        &input[type="text"], & textarea, &input[type="submit"], &input[type="reset"]
        {
            width: 100%;
            margin: 0 auto;
        }
    }
}
