/*header*/
.grid_item_header
{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav_color
{
    background-color: $primary-color;
}

.navbar-toggler
{
    background-color: $secondary-color;
}

.navbar-nav .nav-link:hover
{
    color: $secondary-color;
}

.navbar-brand
{
    pointer-events: none;
    text-decoration: none;
    color: $secondary-color;
}

.nav-link
{
    color: $text-color;
}
