//colores
$primary-color: #1A1A29;
$secondary-color: #7562E0;
$text-color: white;
$background-color: #1d1d2e;
$card-background: #28283a;


//medidas
$px-size-1: 10px;
$px-size-2: 20px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
